<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSFaceIDUsageDescription</key>
    <string>Используется для аутентификации пользователя</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-Medium.otf</string>
		<string>SFProText-Semibold.otf</string>
		<string>SFProRounded-Semibold.ttf</string>
		<string>SFProText-Bold.otf</string>
		<string>SFProDisplay-Bold.otf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>InterDisplay-Bold.otf</string>
		<string>InterDisplay-Medium.otf</string>
		<string>InterDisplay-Bold.otf</string>
		<string>InterDisplay-Medium.otf</string>
	</array>
</dict>
</plist>
